<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category Menu</title>
    <link th:href="@{static/assets/vendor/bootstrap/bootstrap.min.css} " rel="stylesheet">
</head>
<body>
<h2 style="text-align: center">Category <b th:text="${category.getName()}"></b></h2>
<br>

<p>Category ID: <b th:text="${category.getId()}"></b></p>

<br>
<h3>Products of this Category: </h3>
<ul class="nav navbar-nav">
    <li th:each="product: ${products}" th:if="${category.getId() == product.getCategory().getId()}">
        <a th:href="@{/emt/lab/menu/product/{id} (id=${product.getId()})}"  th:text="${product.getName()}"></a>
    </li>
</ul>
</body>
</html>