<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EMT Lab 2 Spring Category Menu</title>
</head>
<body>
<label>Category ID:</label>
<p th:text="${category.getId()}"></p>

<br>

<label>Category Name:</label>
<p th:text="${category.getName()}"></p>

<ul>
    <li th:each="product: ${products}">
        <a th:href="@{/emt/lab/menu/product/{id} (id=${product.getId()})}" th:if="${category.getId() == product.getCategory().getId()}" th:text="${product.getName()}"></a>
    </li>

</ul>
</body>
</html>