<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EMT Lab 2 Spring Menu </title>
</head>
<body>
<div th:class="row">
    <div th:class="col-lg-6">
        <h3>Categories:</h3>
        <ul style="list-style-type: none">
            <li th:each="category:${categories}">
                <a th:href="@{/emt/lab/menu/{id} (id=${category.getId() })}" th:text="${category.getName()}"></a>
            </li>
        </ul>
    </div>
    <div th:class="col-lg-6">
      <h3>Products on Stock</h3>
        <ul style="list-style-type: none">
            <li th:each="product:${products}">
                <a th:if="${product.getStock()}" th:href="@{/emt/lab/menu/product/{id} (id=${product.getId()})}" th:text="${product.getName()}"></a>
            </li>
        </ul>
    </div>
</div>



</body>
</html>